@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #f03355;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation: l1 2s infinite cubic-bezier(0.3, 1, 0, 1);
}
body {
  background: linear-gradient(to bottom right, #f8f9fa, #e5e7eb);
}

/* Dark Mode */
.dark body {
  background: black;
}
@keyframes l1 {
  33% {
    border-radius: 0;
    background: #514b82;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  66% {
    border-radius: 0;
    background: #ffa516;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
  }
}

/* Add this to your global CSS */
.scrollbar-custom::-webkit-scrollbar {
  height: 8px; /* Adjust height for a thinner scrollbar */
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark background */
  border-radius: 10px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #666; /* Lighter scrollbar thumb */
  border-radius: 10px;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.custom-height {
  height: 100vh !important;
}
html,
body {
  height: 100%;
  scrollbar-width: none;
}
.fixScrollbar {
  scrollbar-width: none;
}
